/* .contenedor {
  background-color: #d2d2d2;
  margin: 50;
} */
.card {
  display: flex;
  margin-top: 50;
  margin-left: auto;
  margin-right: auto;
  padding: 50;
  color: black;
}

li.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
