<div
  class="container d-flex justify-content-center flex-wrap"
  style="width: 40%"
>
  <img src="/static/imgs/login.png" class="img-fluid rounded-start" alt="..." />
  <div class="container-body">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">We'll never share your email with
          anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="d-grid gap-2">
        <button
          class="btn mt-2 text-light"
          style="background-color:#6C63FF"
        >Login</button>
      </div>
    </form>
  </div>
</div>

<style>
  .container{ margin-top: 50px; padding: 40px; -webkit-box-shadow: 10px 10px
  32px 0px rgba(138,138,138,0.53); -moz-box-shadow: 10px 10px 32px 0px
  rgba(138,138,138,0.53); box-shadow: 10px 10px 32px 0px rgba(138,138,138,0.53);
  border-radius: 31px 31px 31px 31px }

</style>