{{> bts}}
<div class="container d-flex justify-content-center flex-wrap">

<div class="mensajes">
  <h1 class="bi bi-journal-code text-center"> REGISTRO</h1>

  {{#if success}}
     <div class="alert alert-success" role="alert">
  {{success}}
</div>
  {{/if}}

  {{#if message}}
      <div class="alert alert-danger">{{ message }}</div>
  {{/if}}
  </div>

  <form action="/registro" method="post" enctype="multipart/form-data">
    <div class="form-group row w-50 m-auto">
      <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input class="form-control m-auto" type="text" name="name" />
      </div>

      <div class="form-group col-12 col-sm-6">
        <label>Apellido</label>
        <input
          class="form-control m-auto"
          type="text"
          name="lastname"
          
        />
      </div>

      <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input class="form-control m-auto" type="email" name="email"  />
      </div>

      <div class="form-group col-12 col-sm-6">
        <label>Contraseña</label>
        <input
          class="form-control m-auto"
          type="password"
          name="password"
          
        />
      </div>

      <label for="foto">Foto de perfil</label>
      <input type="file" name="foto" />
      <button
        class="btn mt-2 p-2 text-light"
        style="background-color:#8033FF;"
      >Registrarme</button>
      
    </div>
  </form>
  <a href="/login" class="btn btn-light mt-2 p-2"> Login</a>
</div>

<style>
  .container{ margin-top: 50px; padding: 30px; -webkit-box-shadow: 10px 10px
  32px 0px rgba(138,138,138,0.53); -moz-box-shadow: 10px 10px 32px 0px
  rgba(138,138,138,0.53); box-shadow: 10px 10px 32px 0px rgba(138,138,138,0.53);
  border-radius: 31px 31px 31px 31px }



</style>