{{> bts}}


<div

  class="container d-flex justify-content-center flex-wrap"
  style="width: 40%"
>
  <img
    src="/static/imgs/welcome.png"
    class="card-img-top img-fluid"
    alt="..."
  />
  <div class="container-body">
    <h1 class="text-center">Hola, Bienvenid@</h1>
    <p class="container-text text-center">Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Placeat iusto, natus consequatur soluta nihil officiis
      similique unde consectetur repudiandae qui? Voluptatum earum perspiciatis
      quisquam officia architecto, natus ratione alias eum.</p>
<div class="d-grid gap-2">
  <a href="/register" class="btn mt-2 p-2 text-light" style="background-color:#6C63FF" >Registrarme</a>
  <a href="/login" class="btn mt-2 p-2" style="background-color:#F4EFFC"> Login</a>
  </div>
</div>

</div>


<style>
  .container{ margin-top: 50px; padding: 40px; -webkit-box-shadow: 10px 10px
  32px 0px rgba(138,138,138,0.53); -moz-box-shadow: 10px 10px 32px 0px
  rgba(138,138,138,0.53); box-shadow: 10px 10px 32px 0px rgba(138,138,138,0.53);
  border-radius: 31px 31px 31px 31px }

</style>