{{> bts}}


<div class="container d-flex justify-content-center flex-wrap" style="max-width: 700px;" >
  <div class="row g-2">
  <div class="col-12 col-8 col-4">

  <img
    src="/static/imgs/welcome.png"
    class="card-img-top img-fluid"
    alt="..."
    
  />
  
    <h1 class="text-center">Hola, Bienvenid@</h1>
    <p class="container-text text-center">¡Un lugar para organizar tus tareas y mejores ideas! </p>
<div class="d-grid gap-2">
  <a href="/login" class="btn mt-2 p-2" style="background-color:#F4EFFC"> Login</a>
  <a href="/registro" class="btn mt-2 p-2 text-light" style="background-color:#6C63FF" > ¿No tienes cuenta? Registrate</a>
</div>
</div>
</div>

</div>


<style>  

  .container{  margin-top: 50px; padding: 40px; -webkit-box-shadow: 10px 10px
  32px 0px rgba(138,138,138,0.53); -moz-box-shadow: 10px 10px 32px 0px
  rgba(138,138,138,0.53); box-shadow: 10px 10px 32px 0px rgba(138,138,138,0.53);
  border-radius: 31px 31px 31px 31px }

</style>